doctype html
html
    head
        title Plane
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="Plane.css")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="skrollr.js")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://kit.fontawesome.com/5b70e6cec2.js" crossorigin="anonymous")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js" integrity="sha512-A2+khatRDWHUE2VUtN4xUTkr1nc4YfDBw9Sg3ea6x0aRPfpcYieDZji4D2edDHy/yF5NsYzP7kL8sSM8s5EqCw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    body
        nav.navbar.fixed-top.navbar-expand-md.navbar-top
            .container
                a.navbar-brand PLANE
            .collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.active(href="#home") HOME
                    li.nav-item
                        a.nav-link(href="#section_ask") INTRO
                    li.nav-item
                        a.nav-link(href="#section_about") HISTORY
                    li.nav-item
                        a.nav-link(href="#section_story") INFLUENCE
                    li.nav-item
                        a.nav-link(href="#section_power") POWER

      
    

        header.bg-light.rounded-lg#home
            .container
                h1(
                data-0="transform: translateY(-50px)" 
                data-500="transform: translateY(100px)"
                ) 飛機，天空的探索與冒險
                hr
                h4 對人類飛行夢想的實現起到了歷史性的推動

        section#section_ask
            .container
                .row
                    .col-sm-5.icon(data-0="transform: translateX(-200px)" data-500="transform: translateX(0px)")
                    .col-sm-7(data-300="opacity:0" data-500="opacity:1")
                        h2 如果今天沒有飛機，對生活和全球聯繫會有什麼影響呢？
        
        section#section_about
            .container
                .row
                    .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity:0" 
                    data-center="transform: translateY(0px);opacity:1")
                        h1 飛機的歷史
                        hr
                    .col-md-4.col-sm-6
                        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
                            img(src="https://arklab.tw/wp-content/uploads/%E5%9C%96%E7%89%873-1-601x400.jpg", alt="")
                        h3(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1") 古代探索
                        p(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1") 人類對於飛行的研究最早可以追溯到公元前400年左右古希臘人阿爾庫塔斯所製造的機械鴿，遠至澳大利亞的迴力鏢等。另外人類還通過神話傳說來表達自己對如同鳥類一樣在天空中自由飛行的渴望。
                    .col-md-4.col-sm-6
                        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
                            img(src="https://image-cdn.learnin.tw/bnextmedia/image/album/2023-07/img-1690263324-30442.jpg?w=900&output=webp", alt="")
                        h3(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1") 中國
                        p(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1") 在公元前400年左右的戰國時期，中國的一種叫做竹蜻蜓的玩具已經相當普遍。竹蜻蜓的原理和現代直升機、旋翼機相同，其文字記載最早見於東晉時期葛洪所著的抱朴子，記述如下：「或用棗心木為飛車，以牛革結環劍，以引其機。或存念作五蛇六龍三牛、交罡而乘之，上升四十里，名為太清。太清之中，其氣甚罡，能勝人也。」其中的「飛車」被一些人認為是關於竹蜻蜓的最早記載，並認為該玩具通過貿易傳入歐洲。
                    .col-md-4.col-sm-6
                        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
                            img(src="https://content.skyscnr.com/m/5635b686771c2804/original/GettyImages-456110539.jpg?resize=800px:600px&quality=100", alt="")
                        h3(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1") 歐洲
                        p(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1") 在歐洲方面，人類對於飛行的研究最早可以追溯到古希臘阿爾希塔斯所製造的機械鴿。根據今人的研究機械鴿為蒸汽動力，試飛時飛了有200m左右的距離。
                        
        section#section_story
            .container-fluid
                .row
                    .col-sm-5.map(
                    data-bottom-top="background-size:150%;background-position: 0% 0%" 
                    data-center="background-position: 50% 50%;background-size: 120% auto")
                    .col-sm-7
                        .col-sm-12
                            h2 飛機對生活和全球聯繫的影響
                            hr
                        .col-sm-12.features(data-bottom-top="transform: translateY(-50px);opacity:0" 
                    data-center="transform: translateY(0px);opacity:1")
                            .row
                                .col-sm-4(data-bottom-top="transform: translateY(-50px);opacity:0;scale(2)" 
                        data-center="transform: translateY(0px);opacity:1;scale(1)")
                                    i.fa-solid.fa-globe
                                    h4 全球旅行
                                .col-sm-4(data-bottom-top="transform: translateY(-50px);opacity:0;scale(2)" 
                        data-center="transform: translateY(0px);opacity:1;scale(1)")
                                    i.fa-solid.fa-hand-holding-dollar
                                    h4 經濟發展
                                .col-sm-4(data-bottom-top="transform: translateY(-50px);opacity:0;scale(2)" 
                        data-center="transform: translateY(0px);opacity:1;scale(1)")
                                    i.fa-solid.fa-kit-medical
                                    h4 應急救援
                            .col-sm-12
                                p 飛機的出現極大地改變了我們的生活，尤其在全球旅行、經濟發展和應急救援方面。飛機使得跨國旅行變得快速而方便，讓不同國家和地區之間的交流變得更加頻繁。此外，飛機促進了國際貿易，使商品能夠迅速流通，進一步推動了經濟增長。在應急救援方面，飛機能夠在災難發生時迅速運送救援物資和撤離受困人員，顯著提高了救援效率和反應速度。
                            
        section#section_power
            .container
                .row
                    .col-sm-12
                        h2 飛機動力裝置
                        hr
                    .col-sm-6
                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8IMNfC_Xuf3maTGcaxMrivoxOaRtmEaPsrg&s", alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
                    .col-sm-6.features(data-bottom-top="transform: translateX(50px);opacity:0" 
                    data-center="transform: translateX(0px);opacity:1")
                        i.fa-solid.fa-fan
                        h3 螺旋槳
                        p 飛機螺旋槳將發動機的旋轉運動轉換成渦旋滑流，向前推動或向後推動。 它包括一個旋轉的動力驅動輪轂，幾個徑向翼型截面葉片連接到該輪轂，從而使整個組件繞縱軸旋轉
                    .col-sm-6.offset-sm-6.features(data-bottom-top="transform: translateX(50px);opacity:0" 
                    data-center="transform: translateX(0px);opacity:1")
                        i.fa-solid.fa-fan
                        h3 噴氣發動機
                        p 噴射飛機由噴氣發動機驅動，之所以使用噴氣發動機，是因為螺旋槳的空氣動力限制不適用於噴氣推進。
                    .col-sm-6.offset-sm-6.features(data-bottom-top="transform: translateX(50px);opacity:0" 
                    data-center="transform: translateX(0px);opacity:1")
                        i.fa-solid.fa-fan
                        h3 渦輪扇
                        p 大多數現代噴氣式飛機都使用渦輪扇發動機，該發動機在保持螺旋槳的排氣速度和功率的同時，平衡了螺旋槳的優勢。
        footer.bg-light.rounded-lg
            .container
                h2 想了解更多飛機相關的事物嗎?
                input.form-control(placeholder="Email")
                hr
                button.btn.btn-primary Subscribe